# ╭─────────────────────────Commonly Used ImplementationGuide Properties───────────────────────────╮
# │  The properties below are used to create the ImplementationGuide resource. The most commonly   │
# │  used properties are included. For a list of all supported properties and their functions,     │
# │  see: https://fshschool.org/docs/sushi/configuration/.                                         │
# ╰────────────────────────────────────────────────────────────────────────────────────────────────╯
id: hl7.fhir.us.pco
canonical: http://hl7.org/fhir/us/pco
name: PCO
title: Person-Centered Outcomes (PCO) Implementation Guide
description: Person-Centered Outcomes (PCO) FHIR Implementation Guide
status: draft # draft | active | retired | unknown
version: 1.0.0
fhirVersion: 4.0.1
FSHOnly: false
copyrightYear: 2024+
# releaseLabel: ballot # ci-build | draft | qa-preview | ballot | trial-use | release | update | normative+trial-use
releaseLabel: STU 1
license: CC0-1.0
jurisdiction: urn:iso:std:iso:3166#US "United States of America"
publisher:
  name: HL7 International / Patient Care
  url: http://www.hl7.org/Special/committees/patientcare
  email: patientcare@lists.HL7.org
extension:
  - url: http://hl7.org/fhir/StructureDefinition/structuredefinition-wg 
    valueCode: pc
  - url: http://hl7.org/fhir/StructureDefinition/structuredefinition-standards-status
    valueCode: draft
  - url: http://hl7.org/fhir/StructureDefinition/structuredefinition-fmm
    valueInteger: 2
dependencies:
  hl7.fhir.us.core: 6.1.0
  hl7.fhir.uv.extensions.r4: 5.2.0
  hl7.fhir.us.cqfmeasures: 5.0.0
  hl7.fhir.uv.cql: 2.0.0
  fhir.cqf.common: 4.0.1

# ╭────────────────────────────────────────────menu.xml────────────────────────────────────────────╮
# │  To control the menu.xml using this config, uncomment and set the "menu" property.             │
# ╰────────────────────────────────────────────────────────────────────────────────────────────────╯
menu:
  Home: index.html
  # Table of Contents: toc.html
  Guidance:
    User Stories: user_stories.html
    # Goal Attainment Scaling: goal-attainment-scaling.html
    Related FHIR IGs: related-fhir-igs.html
  Conformance:
    Dependencies: dependencies.html
    Formal Specification: formal_specification.html
    Underlying Technologies: underlying_technologies.html
  FHIR Artifacts:
    Profiles: artifacts.html#structures-resource-profiles
    Extensions: artifacts.html#structures-extension-definitions
    Value Sets: artifacts.html#terminology-value-sets
    Code Systems: artifacts.html#terminology-code-systems
    # Other Artifacts: artifacts.html#other
  Examples:
    Example Instances: artifacts.html#example-example-instances
    Questionnaires: artifacts.html#structures-questionnaires
    Measures: artifacts.html#knowledge-artifacts-measure
    CQL Libraries: artifacts.html#knowledge-artifacts-libraries
  Downloads: downloads.html

pages:
  index.md:
    title: Home
  user_stories.md:
    title: User Stories
  # goal-attainment-scaling.md:
  #   title: Goal Attainment Scaling (GAS)
  related-fhir-igs.md:
    title: Related FHIR IGs
  dependencies.md:
    title: Dependencies
  formal_specification.md:
    title: Formal Specification
  underlying_technologies.md:
    title: Underlying Technologies
  downloads.md:
    title: Downloads

# For parameters defined by core FHIR see:
# http://build.fhir.org/codesystem-guide-parameter-code.html
# For parameters defined by the FHIR Tools IG see:
# http://build.fhir.org/ig/FHIR/fhir-tools-ig/branches/master/CodeSystem-ig-parameters.html
#
parameters:
  path-expansion-params: '../../input/_resources/terminology-settings.json' # for using US ed of SNOMED
  show-inherited-invariants: false
  apply-jurisdiction: true
  apply-publisher: true
  # no-narrative:
  #   - "Bundle/*"
  # path-data: "input/_data"
  path-resource:
    - input/resources/device
    - input/resources/library
    - input/resources/measure
    - input/resources/questionnaire
  path-liquid:
    - templates/liquid

# ╭───────────────────────────Less Common Implementation Guide Properties──────────────────────────╮
# │  Uncomment the properties below to configure additional properties on the ImplementationGuide  │
# │  resource. These properties are less commonly needed than those above.                         │
# ╰────────────────────────────────────────────────────────────────────────────────────────────────╯
#
# The resources property corresponds to IG.definition.resource.
# SUSHI can auto-generate all of the resource entries based on
# the FSH definitions and/or information in any user-provided
# JSON or XML resource files. If the generated entries are not
# sufficient or complete, however, the author can add entries
# here. If the reference matches a generated entry, it will
# replace the generated entry. If it doesn't match any generated
# entries, it will be added to the generated entries. The format
# follows IG.definition.resource with the following differences:
#   * use IG.definition.resource.reference.reference as the YAML key.
#   * if the key is an id or name, SUSHI will replace it with the
#     correct URL when generating the IG JSON.
#   * specify "omit" to omit a FSH-generated resource from the
#     resource list.
#   * if the exampleCanonical is an id or name, SUSHI will replace
#     it with the correct canonical when generating the IG JSON.
#   * groupingId can be used, but top-level groups syntax may be a
#     better option (see below).
# The following are simple examples to demonstrate what this might
# look like:
#
# resources:
#   Patient/my-example-patient:
#     name: My Example Patient
#     description: An example Patient
#     exampleBoolean: true
#   Patient/bad-example: omit
#
#
# ╭──────────────────────────────────────────SUSHI flags───────────────────────────────────────────╮
# │  The flags below configure aspects of how SUSHI processes FSH.                                 │
# ╰────────────────────────────────────────────────────────────────────────────────────────────────╯
#
# The instanceOptions property is used to configure certain aspects of how SUSHI processes instances.
# See the individual option definitions below for more detail.
#
instanceOptions:
  # When set to true, slices must be referred to by name and not only by a numeric index in order to be used
  # in an Instance's assignment rule. All slices appear in the order in which they are specified in FSH rules.
  # While SUSHI defaults to false for legacy reasons, manualSliceOrding is recommended for new projects.
  manualSliceOrdering: true # true | false
  # Determines for which types of Instances SUSHI will automatically set meta.profile
  # if InstanceOf references a profile:
  #
  setMetaProfile: always # always | never | inline-only | standalone-only
